<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bankink System Functions Suite" parallel="none">
    <test name="Chrome Test">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="tests.DemoBankingFunctionsTest"/>
        </classes>
    </test>
</suite>